* {
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

h1 {
    margin: 30px 0 30px 0;
    font-size: 26px;
    text-align: center;
}

.chicken {
    margin: 0;
    font-size: 19px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    background-color: pink;
    float: right;
    padding: 5px;
    text-align: center;
    width: 33%;
    margin-bottom: 5px;

}

.beef {
    margin: 0;
    font-size: 19px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgb(163, 36, 36);
    color: white;
    float: right;
    padding: 5px;
    text-align: center;
    width: 33%;
    margin-bottom: 5px;

}

.sushi {
    margin: 0;
    font-size: 19px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    background-color: khaki;
    float: right;
    padding: 5px;
    text-align: center;
    width: 33%;
    margin-bottom: 5px;

}

p {
    font-size: 15px;
    font-weight: bold;
    clear: both;
    margin: 5px;
    padding: 5px;
}

.row {
    width: 100%;
    margin: 0 0 0 8px;
}

.col-lg-4,
.col-md-6,
.col-sm-12 {
    margin: 0 20px 20px 0;
}

/********** Desktop Only **********/
@media (min-width: 992px) {

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
        border: 1px solid black;
        background-color: rgb(150, 150, 150);
    }

    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: calc(33.33% - 20px);
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 74.99%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}


/********** Tablet Only **********/
@media (min-width: 768px) and (max-width: 991px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
        border: 1px solid black;
        background-color: rgb(150, 150, 150);
    }

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: calc(50% - 20px);
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 74.99%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: calc(100% - 20px);
    }

    .sushi {
        width: 16.2%;
    }
}


/********** Mobile Only **********/
@media (max-width: 767px) {

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
        border: 1px solid black;
        background-color: rgb(150, 150, 150);
    }

    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 74.99%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: calc(100% - 20px);
    }
}
